//ABOUT US SECTION -> HOMEPAGE RELATED

//======= VARIABLES
@use "../../misc/variables" as vars; //GLOBAL VARIABLES
@use "../../misc/keyframes" as keyframes; //GLOBAL KEYFRAMES

@mixin AboutUs-Content {
  /** ------ [ ABOUT US SECTION ] ------- **/
  .AboutUs-Section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    min-height: 900px;

    .WRAPPER {
      position: relative;

      height: 100%;
      width: 100%;
      max-width: vars.$max-width;

      display: flex;
      justify-content: center;
      flex-direction: column;

      .img {
        height: 100%;
        width: 100%;
        background: url("/src/imgs/AboutUs.png") center center / cover;
        padding: 270px 8%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        gap: 100px;
      }

      .backgroundFX {
        //BACKGROUND EFFECT
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 1;
        z-index: 3;

        //animation
        animation: fadeOut 1s ease-out forwards;
        animation-delay: 1.5s;
        pointer-events: none;
      }

      .sidePiece {
        position: absolute;
        width: 4vw;
        max-width: 50px;
        min-width: 50px;
        height: 40vw;
        max-height: 450px;
        min-height: 450px;
        left: -25px;
        top: -10%;
        z-index: 2;
        background: url("/src/imgs/Side-Piece-1.png") center center / cover;

        opacity: 0;
        animation: MoveInFromLeft 0.6s ease-out forwards,
          fadeIn 0.4s ease-out forwards;
        animation-delay: 3s;

        @media (max-width: 650px) {
          animation: none;
          opacity: 0;
        }
      }

      .content-section {
        width: 100%;

        .header-section {
          color: white;
          font-family: vars.$headerText;

          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 10px;

          .header {
            font-weight: 700;
            font-size: clamp(30px, 5vw, 39px);
            text-shadow: 0px 2px 25px rgba(255, 255, 255, 0.596);

            &.heading1 {
              //animation
              transition: 0.2s ease;
              opacity: 0;
              animation: MoveInFromLeft 1s ease-out forwards,
                fadeIn 1s ease-out forwards;
              animation-delay: 1.8s;
            }

            &.heading2 {
              //animation
              transition: 0.2s ease;
              opacity: 0;
              animation: MoveInFromLeft 1s ease-out forwards,
                fadeIn 1s ease-out forwards;
              animation-delay: 3.3s;
            }
          }

          .desc {
            font-size: clamp(20px, 3vw, 22px);
            opacity: 0.8;
            max-width: 850px;

            &.desc1 {
              //animation
              transition: 0.2s ease;
              opacity: 0;
              animation: MoveInFromLeft 1s ease-out forwards,
                fadeIn_SLIGHTLY 1s ease-out forwards;
              animation-delay: 2.5s;
            }

            &.desc2 {
              //animation
              transition: 0.2s ease;
              opacity: 0;
              animation: MoveInFromLeft 1s ease-out forwards,
                fadeIn_SLIGHTLY 1s ease-out forwards;
              animation-delay: 3.6s;
            }
          }

          .capabilityButton {
            background-color: white;
            color: black;
            box-shadow: 0 5px 10px rgba(255, 255, 255, 0.477);

            margin-top: 2px;
            border: none;
            border-radius: 900px;
            padding: 10px 0px;

            width: 200px;

            text-align: center;
            font-size: clamp(15px, 2vw, 16px);
            font-weight: bold;
            font-family: vars.$headerText;

            //animation
            transition: 0.2s ease;
            opacity: 0;
            animation: MoveInFromLeft 1s ease-out forwards,
              fadeIn 1s ease-out forwards;
            animation-delay: 3s;

            &:hover {
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
  }
}

