//FAQ SECTION -> HOMEPAGE RELATED

//======= VARIABLES
@use "../../misc/variables" as vars; //GLOBAL VARIABLES
@use "../../misc/keyframes" as keyframes; //GLOBAL KEYFRAMES

@mixin FAQ-Content {
  /** ------ [ FAQ SECTION ] ------- **/
  .FAQ-Section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    min-height: 700px;

    .WRAPPER {
      position: relative;

      height: 100%;
      width: 100%;
      max-width: vars.$max-width;

      display: flex;
      justify-content: center;
      flex-direction: column;

      .img {
        height: 100%;
        width: 100%;
        background: url("/src/imgs/FAQ.png") center center / cover;
        padding-top: 100px;
        padding-bottom: 200px;
        padding-left: 8%;
        padding-right: 8%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 100px;
      }

      .backgroundFX {
        //BACKGROUND EFFECT
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 1;
        z-index: 2;

        //animation
        animation: fadeOut 1s ease-out forwards;
        animation-delay: 4.8s;
        pointer-events: none;
      }

      .content-section {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .header-section {
          color: white;
          font-family: vars.$headerText;

          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 0px;

          .header {
            font-weight: 700;
            font-size: clamp(30px, 5vw, 39px);
            text-shadow: 0px 2px 25px rgba(255, 255, 255, 0.596);

            //animation
            transition: 0.2s ease;
            opacity: 0;
            animation: MoveInFromLeft 1s ease-out forwards,
              fadeIn 1s ease-out forwards;
            animation-delay: 5s;
          }

          .desc {
            font-size: clamp(20px, 3vw, 21px);
            opacity: 0.8;

            //animation
            transition: 0.2s ease;
            opacity: 0;
            animation: MoveInFromLeft 1s ease-out forwards,
              fadeIn_SLIGHTLY 1s ease-out forwards;
            animation-delay: 5.3s;
          }
        }

        .questions {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 30px;

          //animation
          transition: 0.2s ease;
          opacity: 0;
          animation: MoveInFromLeft 1s ease-out forwards,
            fadeIn 1s ease-out forwards;
          animation-delay: 5.6s;

          .accordion-item {
            .accordion-header {
              background-color: rgba(150, 150, 150, 0.555);
              box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);

              border-radius: 10px;
              border-radius: 5px;

              height: 4.5rem;

              backdrop-filter: blur(7px);
              -webkit-backdrop-filter: blur(12px);
              border: 2px solid rgb(255, 255, 255);

              display: flex;
              align-items: center;

              padding-left: 20px;
              padding-right: 20px;

              transition: 0.4s ease;

              &:hover {
                background-color: rgba(150, 150, 150, 0.842);
                box-shadow: 0 10px 20px rgba(255, 255, 255, 0.671);
              }

              &:active {
                background-color: white;
              }

              button {
                height: 100%;
                width: 100%;

                font-family: vars.$headerText;
                color: white;
                font-size: clamp(18px, 3vw, 20px);

                padding-right: 28px;
              }

              // rotate arrow when accordion is open
              .accordion-button:not(.collapsed) + .arrow {
                transition: 0.6s ease;
                transform: rotate(90deg);
              }

              .arrow {
                transition: 0.6s ease;
                width: 1.2rem;
                height: 1.8rem;
                background: url("/src/imgs/Arrow-faq-1.png") center center /
                  cover;
              }
            }

            .accordion-collapse {
              color: white;
              font-family: vars.$headerText;
              font-size: clamp(20px, 3vw, 21px);

              opacity: 0.8;

              padding-top: 20px;
              padding-left: 10px;

              .accordion-body {
                width: 100%;
                text-align: start;
              }
            }
          }
        }
      }
    }
  }
}



