// CAPABILITY STATEMENT RELATED SCSS

//======= VARIABLES
@use "../misc/variables" as vars; //GLOBAL VARIABLES
@use "../misc/keyframes" as keyframes; //GLOBAL KEYFRAMES

/** ------ [ CAPABILITY STATEMENT ] ------- **/
.CapabilityStatement {
  height: 93vh;
  display: flex;
  justify-content: center;

  .WRAPPER {
    position: relative;

    height: 100%;
    width: 100%;
    max-width: vars.$max-width;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .PDF-Fallback {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
  
      color: white;
      font-family: vars.$headerText;
      font-size: 20px;
  
      h1 {
        font-size: 90px;
      }
    }
  }

  .backgroundFX {
    //BACKGROUND EFFECT
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    z-index: 2;

    //animation
    animation: fadeOut 1s ease-out forwards;
    animation-delay: 1.5s;
    pointer-events: none;
  }

  .PDF {
    padding-top: 90px;
  }

}


